<form action="/users/signin" method="POST">
  <label for="username">Username:</label>
  <input type="text" name="username" id="username" value="<%= params[:username] %>" || "">
  <br>
  <label for="password">Password:</label>
  <input type="password" name="password" id="password">
  <br>
  <button type="submit">Sign In</button>
</form>